<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WrcaySalesInventorySystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WrcaySalesInventorySystem.Properties.Settings.wrcaydbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Jade\Downloads\wrcaysalesmonitoringsystem\WrcaySalesInventorySystem\wrcaydb.mdf;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <WrcaySalesInventorySystem.Properties.Settings>
            <setting name="userID" serializeAs="String">
                <value>22</value>
            </setting>
        </WrcaySalesInventorySystem.Properties.Settings>
    </userSettings>
</configuration>