<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WrcaySalesInventorySystem.Properties.Settings.wrcaydbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=wrcaydb.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>