<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WrcaySalesInventorySystem.Properties.Settings.wrcaydbConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\SCHOOL FILES\wrcaysalesmonitoringsystem\WrcaySalesInventorySystem\wrcaydb.mdf&quot;;Integrated Security=True" />
        <add name="WrcaySalesInventorySystem.Properties.Settings.wrcaydbConenction2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\system\wrcaysalesmonitoringsystem\WrcaySalesInventorySystem\wrcaysystemdb.mdf;Integrated Security=True" />
    </connectionStrings>
</configuration>